.card-header {
    width: 255px;
    height: 244px;
    border-radius: 15px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
}

.icon {
    position: absolute;
    left: 160px;
    top: -5px;
}

@media (max-width: 600px) {
    .card-header {
        width: 327px;
        height: 160px;
    }

    .icon {
        left: 220px;
    }
}