body {
  background: #0E1323;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: 244px 244px;
  grid-gap: 4% 2%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.first-card-wrapper {
  background: #1C204B;
  border-radius: 15px;
  width: 255px;
  height: 518px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.avatar-wrapper {
  background: #5747EA;
  border-radius: 15px;
  width: 255px;
  height: 354px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.avatar {
  width: 78px;
  height: 78px;
  border: 3px solid #FFFF;
  border-radius: 50%;
  max-width: 255px;
  margin-left: 32px;
  margin-bottom: 42px;
}

.user-name {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  max-width: 255px;
  margin-left: 32px;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  color: #BBC0FF;
  max-width: 255px;
  margin-left: 32px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 255px;
}

.button {
  width: 68px;
  height: 21px;
  background: none;
  border: none;
  color: #7078C9;
  margin: 10px;
  padding-left: 22px;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: inherit;
    grid-gap: 20px;
  }

  .first-card-wrapper { 
    width: 327px;
    height: 203px;
    justify-content: space-around;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .avatar-wrapper {
    width: 327px;
    height: 133px;
    flex-direction: row;
    align-items: center;
  }

  .buttons-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 327px;
    text-align: center;
  }

  .button {
    margin: 25px;
    text-align: center;
    padding-left: 0;
  }

  .user-name {
    font-size: 24px;
  }

  .avatar {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 1090px) {
  .App {
    justify-content: unset;
    justify-items: center;
  }
}